<ul>
<% @venues.each do |v| %>

  <li>
  	<p><%= v.name %></p>
 	<p><%= v.address %></p>
 </li>

<% end %>
</ul>

<section id="map"></section>

<%= link_to "Submit new", new_venue_path, class: 'button' %>
